<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container-proyect">
        <div class="col-xs-12 col-md-7 col-lg-7 part1">
            <h1>Proyecto 1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga beatae velit ipsa? Aliquid dicta tempora vel inventore at illum dignissimos distinctio numquam. Saepe, beatae nulla? Quo praesentium dicta facere excepturi!</p>
        </div>
        <div class="col-xs-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 part2">
            <img src="../../../assets/banner.png" alt="" class="img-fluid img-proyect">
        </div>
    </div>
</div>