<div class="container-acerca">
    
        <div class="container-img" >
        <img src="../../../assets/imgAcercaDe2.jpg" alt="imagen de perfil" class="img-acerca img-fluid">
            <p id="name">Norberto Ramiro Capdevila</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="container-text">
            <h1>Acerca de mí</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta ducimus reprehenderit fugiat ipsa quidem natus reiciendis nisi laborum dicta fuga illo cum, autem doloremque eos possimus dolores aut in deleniti.</p> 
        </div>
    

</div>
