<div class="container-education">
    <div>
        <h1>Educación</h1>
        <ul>
            <li>
                <h2>Estudio 1 -</h2>
                <h4> fecha</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti earum ipsam, sapiente possimus ullam adipisci repellendus deleniti harum, aut suscipit enim illo magni molestias voluptatem neque velit inventore ad.</p>
            </li>
            <li>
                <h2>Estudio 2 -</h2>
                <h4> fecha</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti earum ipsam, sapiente possimus ullam adipisci repellendus deleniti harum, aut suscipit enim illo magni molestias voluptatem neque velit inventore ad.</p>
            </li>
            <li>
                <h2>Estudio 3 -</h2>
                <h4> fecha</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti earum ipsam, sapiente possimus ullam adipisci repellendus deleniti harum, aut suscipit enim illo magni molestias voluptatem neque velit inventore ad.</p>
            </li>
        </ul>
    </div>
</div>

