.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.banner{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}