<div class="row">
    <h1 class="text-center">Hard and Soft Skill</h1>
    <div class="col-xs-4 col-md-4 col-lg-4 text-center">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'/assets/logoHtml.png'"
        [imageHeight]="70"
        [imageWidth]="70"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 text-center">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'/assets/cssLogo.png'"
        [imageHeight]="70"
        [imageWidth]="70"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 text-center">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'/assets/jsLogo.png'"
        [imageHeight]="70"
        [imageWidth]="70"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 text-center">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'/assets/angularLogo.png'"
        [imageHeight]="70"
        [imageWidth]="70"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 text-center">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'/assets/reactLogo.png'"
        [imageHeight]="70"
        [imageWidth]="80"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    
</div>
