.row{
    background-color: rgb(194, 193, 193);
    margin-right: 0;
    --bs-gutter-x:0;
   
}

footer{
    padding-top: 20px;
    color: #fefefe;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px -2px 5px #999;
    
}